footer {
    text-align: center;
    padding: 3rem 1rem;
    font-size: 0.875rem;
    color: #6b7280;
    user-select: none;
}

.footer-container {
    transition: box-shadow 0.5s ease;
    border-radius: 12px;
}

.footer-container:hover {
    box-shadow: inset 0 2px 4px 1px #ffa8a8e4, 
    inset 0 -2px 5px 1px #ff7f7fcc, 
    0 0 15px 3px #ff9b9bcc;
    border-radius: 12px;
    transition: box-shadow 0.5s ease;

}

.footer-icons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem 1.5rem 0.75rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: inset 0 1px 0 0 #ff8b8b33, inset 0 -1px 0 0 #cc595944;
    backdrop-filter: saturate(140%) blur(5px);
}

.footer-icon {
    font-size: 20px;
    color: #ff8b8b;
    transition: color 0.5s ease-out;
}

.footer-icon:hover {
    color: #ffdbdb;
}

nav.footer-nav {
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding: 1rem 1.5rem 0.75rem;
    box-shadow: inset 0 1px 0 0 #ff8b8b33, inset 0 -1px 0 0 #cc595944;
    backdrop-filter: saturate(120%) blur(5px);
    transition: box-shadow 0.3s ease;
}

.footer-nav a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    color: #ffb9b9dd;
    position: relative;
    padding: 0.25rem 0;
    transition: color 0.3s ease;
}
nav.footer-nav a:hover,
nav.footer-nav a:focus {
    color: #ffdbdb;
}
nav.footer-nav a::after {
    content: '';
    display: block;
    height: 2px;
    background: #ff8787cc;
    width: 0%;
    transition: width 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 1px;
}
nav.footer-nav a:hover::after,
nav.footer-nav a:focus::after {
    width: 100%;
}

.copyright {
    padding: 1rem 1.5rem 0.75rem;
    background-color: #3f0808dd;
    color: #ffcfcfcc;
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
    box-shadow: inset 0 1px 3px #7c6ccf88;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* Responsive */
@media (max-width: 1015px) {
    nav.footer-nav {
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    font-size: 0.95rem;
    }
}